<div class="footer-copyright-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="footer-copy-right">
                    <p>
                        Copyright © @DateTime.Now.Year
                        . Tüm Hakları Saklıdır. Geliştirici <a href="#">Ali Kaya</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/notika-master/notika-master/notika/green-horizotal/js/vendor/jquery-1.12.4.min.js"></script>

<script src="/notika-master/notika-master/notika/green-horizotal/js/bootstrap.min.js"></script>

<script src="/notika-master/notika-master/notika/green-horizotal/js/wow.min.js"></script>

<script src="/notika-master/notika-master/notika/green-horizotal/js/jquery-price-slider.js"></script>

<script src="/notika-master/notika-master/notika/green-horizotal/js/owl.carousel.min.js"></script>

<script src="/notika-master/notika-master/notika/green-horizotal/js/jquery.scrollUp.min.js"></script>

<script src="/notika-master/notika-master/notika/green-horizotal/js/meanmenu/jquery.meanmenu.js"></script>

<script src="/notika-master/notika-master/notika/green-horizotal/js/counterup/jquery.counterup.min.js"></script>
<script src="/notika-master/notika-master/notika/green-horizotal/js/counterup/waypoints.min.js"></script>
<script src="/notika-master/notika-master/notika/green-horizotal/js/counterup/counterup-active.js"></script>

<script src="/notika-master/notika-master/notika/green-horizotal/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>

<script src="/notika-master/notika-master/notika/green-horizotal/js/sparkline/jquery.sparkline.min.js"></script>
<script src="/notika-master/notika-master/notika/green-horizotal/js/sparkline/sparkline-active.js"></script>


<script src="/notika-master/notika-master/notika/green-horizotal/js/flot/jquery.flot.js"></script>
<script src="/notika-master/notika-master/notika/green-horizotal/js/flot/jquery.flot.resize.js"></script>
<script src="/notika-master/notika-master/notika/green-horizotal/js/flot/flot-active.js"></script>


<script src="/notika-master/notika-master/notika/green-horizotal/js/knob/jquery.knob.js"></script>
<script src="/notika-master/notika-master/notika/green-horizotal/js/knob/jquery.appear.js"></script>
<script src="/notika-master/notika-master/notika/green-horizotal/js/knob/knob-active.js"></script>


<script src="/notika-master/notika-master/notika/green-horizotal/js/wave/waves.min.js"></script>
<script src="/notika-master/notika-master/notika/green-horizotal/js/wave/wave-active.js"></script>


<script src="/notika-master/notika-master/notika/green-horizotal/js/icheck/icheck.min.js"></script>
<script src="/notika-master/notika-master/notika/green-horizotal/js/icheck/icheck-active.js"></script>

<script src="/notika-master/notika-master/notika/green-horizotal/js/chat/jquery.chat.js"></script>

<script src="/notika-master/notika-master/notika/green-horizotal/js/todo/jquery.todo.js"></script>

<script src="/notika-master/notika-master/notika/green-horizotal/js/plugins.js"></script>

<script src="/notika-master/notika-master/notika/green-horizotal/js/main.js"></script>

<script src="/notika-master/notika-master/notika/green-horizotal/js/tawk-chat.js"></script>